<a href="https://colab.research.google.com/github/richelle-esteban/CPEN21A-ECE-2-2/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##For Loop

In [1]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

###Break through Loop

In [2]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for x in week:
  print(x)
  if x=="Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [4]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for x in week:
  if x=="Thursday":
    break
print(x)

Thursday

###Looping through String

In [5]:
for x in "week":
  print(x)

w
e
e
k

###The range() function

In [6]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [7]:
for x in range(2,6):
  print(x)

2
3
4
5

In [8]:
for x in range(2,7):
  print(x)

2
3
4
5
6

###Nested Loops

In [9]:
adjective = ["red", "big","tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adjective: #outer loop
  for y in fruits: #inner loop
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

##While Loop

In [12]:
i = 1
while i<6:
  print(i)
  i+=1  #Assignment Operator for addition

1
2
3
4
5

###Break through While Loop

In [13]:
i = 1
while i<6:
  print(i)
  if i==3:
    break
  i+=1 #Assignment Operator for addition

1
2
3

###Continue Statement through While Loop

In [14]:
i = 0
while i<6:
  i+=1 #Assignment Operator for addition
  if i==3:
    continue
  print(i)

1
2
4
5
6

###The else Statement through While Loop

In [18]:
i = 1
while i<6:
  print(i)
  i+=1
else:
 print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

Application 1

In [19]:
#Create a Python Program that displays Hello 0 to Hello 10 vertically
#1

display = ["Hello 0","Hello 1","Hello 2","Hello 3","Hello 4","Hello 5","Hello 6","Hello 7","Hello 8","Hello 9","Hello 10"]

for x in display:
  print(x)

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

In [23]:
#Create a Python Program that displays Hello 0 to Hello 10 vertically
#solu 2 fr. class

display = ["Hello"]
number = ["0","1","2","3","4","5","6","7","8","9","10"]
for x in display:
  for y in number:
    print(x,y)

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

Application 2

In [25]:
#Create a Python program that displays integers less than 10 but not less than 3
#1

i = 3
while i<10:
  print(i)
  i+=1  #Assignment Operator for addition

3
4
5
6
7
8
9

In [26]:
#Create a Python program that displays integers less than 10 but not less than 3
#2

for x in range(3,10):
  print(x)

3
4
5
6
7
8
9